<html xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href="{{url_for ('static', filename='css/style.css')}}">
<head>
    <title>Заказывайте детали у нас</title>
</head>
<body>
    <a href="/"><img class="logo" src="static/img/logo.png"/></a>
    <img src="static/img/zap.jpg", class="mainPic" />
    <div class="picText" />Добро пожаловать в наш магазин авто-запчастей, здесь вам всегда будут рады!
    <a style="text-decoration: none;" href="/admin/authorization" class="adminAut">Для сотрудников</a>
    <a style="text-decoration: none;" href='/login' class="personalCab">Личный кабинет</a>
    <a style="text-decoration: none;" href='/catalog' class="catalog">Каталог</a>
    <div class="oblakoOnas" />О нас:<br />Бла-Бла-Бла, Бла-Бла. Бла-Бла-Бла.
    <div class="oblakoOtsovs" />Отзывы:<br />Яндекс
    <div class="oblakoContacts" />Наши контакты:<br />+7-(932)-54-654-65<br />Example@mail.ru
    <img src="static/img/VK.png" class="VKicon" />
    <img src="static/img/Telegram.png" class="Telegramicon" />
</body>
</html>